{% extends 'base.html.twig' %}

{% block title %}Nos produis laboutiquefrançaise {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <h5>Filtrer</h5>
 {{ (form(formSearch)) }} 
    </div>

    <div class="col-md-9">
        <h5>Tous nos produits </h5>

        <div class="row produit-container">

            {% for product in produits %}
            <div class="col-md-4">
                <div class="produit_item text-center">
                    <a href="{{path('show',{'slug':product.slug})}}" class="badge badge-success">voir l'article</a><img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}img-fluid ">
                    <h5>{{ product.name }}</h5>
                        <span class="produit-subtitle">{{ product.subtitle }}</span><br />
                        <span class="produit-prix">Prix: {{ (product.prix /100)|number_format(2,',','.')}} €</span>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}